<a href="https://colab.research.google.com/github/taiga0803/q-macro-assignment/blob/main/qmacro_pj2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
# pwtから最新データ(vol10.1)の読み込み
pwt1001 = pd.read_stata('https://dataverse.nl/api/access/datafile/354098')

#必要な国とデータの抽出
data = pwt1001.loc[pwt1001['country'].isin(["France","Germany","Canada","Italy","Japan","United Kingdom","United States"])][['year', 'countrycode', 'rgdpna', 'rkna', 'emp', 'labsh']]
data = data.loc[(data['year'] >= 1995) & (data['year'] <= 2019)].dropna()
data

       year countrycode        rgdpna      rkna         emp     labsh
2145   1995         CAN  1.059683e+06  0.470508   13.502547  0.683057
2146   1996         CAN  1.076842e+06  0.486632   13.636177  0.676772
2147   1997         CAN  1.122931e+06  0.507674   13.899702  0.673506
2148   1998         CAN  1.166682e+06  0.533258   14.223677  0.686227
2149   1999         CAN  1.226916e+06  0.558713   14.615461  0.669298
...     ...         ...           ...       ...         ...       ...
12175  2015         USA  1.877616e+07  0.961123  150.248474  0.595646
12176  2016         USA  1.909750e+07  0.980157  152.396957  0.593773
12177  2017         USA  1.954298e+07  1.000000  154.672318  0.596151
12178  2018         USA  2.012858e+07  1.022971  156.675903  0.594326
12179  2019         USA  2.056359e+07  1.046050  158.299591  0.597091

[175 rows x 6 columns]

In [18]:
# 必要な変数の計算
data['y_pc'] = np.log(data['rgdpna'] / data['emp'])  #一人当たりGDPに変換　
data['k_pc'] = np.log(data['rkna'] / data['emp'])  #一人当たり資本に変換
data['a'] = 1 - data['labsh'] #labsh = labor share(労働分配率：企業によって生産された付加価値のうち、労働への還元率)

In [20]:
data = data.sort_values('year')
data

,year,countrycode,rgdpna,rkna,emp,labsh,y_pc,k_pc,a
2145,1995,CAN,1.059683e+06,0.470508,13.502547,0.683057,11.270602,-3.356821,0.316943
5925,1995,ITA,2.142860e+06,0.672925,22.028454,0.525409,11.485317,-3.488456,0.474591
4315,1995,GBR,1.840006e+06,0.582493,25.669792,0.544222,11.179965,-3.785752,0.455778
6135,1995,JPN,4.156866e+06,0.687249,67.657578,0.598764,11.025813,-4.589519,0.401236
4175,1995,FRA,2.015066e+06,0.605657,23.658522,0.620158,11.352439,-3.665165,0.379842
...,...,...,...,...,...,...,...,...,...
2169,2019,CAN,1.874187e+06,1.044758,19.298662,0.654880,11.483650,-2.916250,0.345120
4339,2019,GBR,3.016695e+06,1.042256,32.982498,0.589645,11.423696,-3.454589,0.410355
4199,2019,FRA,2.965338e+06,1.044841,28.532564,0.624132,11.551455,-3.307181,0.375868
6159,2019,JPN,5.099254e+06,1.020337,69.976692,0.563644,11.196443,-4.228029,0.436356
12179,2019,USA,2.056359e+07,1.046050,158.299591,0.597091,11.774544,-5.019468,0.402909

In [24]:
# データをグループ化
grouped_data = data.groupby('countrycode')

# 一人当たりGDPの成長率
data['g'] = (grouped_data['y_pc'].diff() * 100)  # 一人当たりのgdpの差分を取り、100倍。一人当たりGDP成長率
data = data.dropna()

<ipython-input-24-a0723bc12bde>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['g'] = (grouped_data['y_pc'].diff() * 100)  # 一人当たりのgdpの差分を取り、100倍。一人当たりGDP成長率